Problem statement.

Build a recommender system by using cosine simillarties score.

# Library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Dataset

In [2]:
books=pd.read_csv('book.csv',encoding='latin-1')

In [3]:
pd.set_option('max_colwidth', None)
books.head()

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It,8
4,5,276737,The Mummies of Urumchi,6

In [4]:
books.rename(columns={'Unnamed: 0':'Index' , 'User.ID' : 'ID' } ,inplace=True)
books.drop(inplace=True,labels=['Index'],axis=1)
books.head()

,ID,Book.Title,Book.Rating
0,276726,Classical Mythology,5
1,276729,Clara Callan,3
2,276729,Decision in Normandy,6
3,276736,Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It,8
4,276737,The Mummies of Urumchi,6

In [5]:
books=books.drop_duplicates(subset=['ID','Book.Title'])

__Top 50 books with highest rating__

In [6]:
books[0:50].sort_values(by=['Book.Rating'],ascending=False)

,ID,Book.Title,Book.Rating
16,276760,More Cunning Than Man: A Social History of Rats and Man,10
24,276772,Tell Me This Isn't Happening,10
6,276745,What If?: The World's Foremost Military Historians Imagine What Might Have Been,10
23,276772,Mary-Kate &amp; Ashley Switching Goals (Mary-Kate and Ashley Starring in),10
41,276808,Pride and Prejudice,10
42,276811,The Therapeutic Touch: How to Use Your Hands to Help or to Heal,10
34,276788,Sturmzeit. Roman.,10
25,276774,Flood : Mississippi 1927,9
7,276747,PLEADING GUILTY,9
8,276747,Under the Black Flag: The Romance and the Reality of Life Among the Pirates,9
32,276788,Wie Barney es sieht.,8
29,276786,OUT OF THE SILENT PLANET,8
40,276804,Miss Zukas and the Raven's Dance,8
43,276812,Downtown,8
18,276762,The Testament,8
44,276813,Icebound,8
45,276813,I'll Be Seeing You,8
9,276747,Where You'll Find Me: And Other Stories,8
3,276736,Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It,8
14,276754,A Second Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series),8
47,276813,Isle of Dogs,8
13,276751,Jane Doe,8
10,276747,Nights Below Station Street,7
22,276772,If I'd Known Then What I Know Now: Why Not Learn from the Mistakes of Others? : You Can't Afford to Make Them All Yourself,7
11,276747,Hitler's Secret Bankers: The Myth of Swiss Neutrality During the Holocaust,7
5,276744,The Kitchen God's Wife,7
26,276780,Wild Animus,7
27,276780,Airframe,7
39,276800,Pigs in Heaven,7
37,276798,To Kill a Mockingbird,7
33,276788,Der Fluch der Kaiserin. Ein Richter- Di- Roman.,7
46,276813,From the Corner of His Eye,6
38,276798,Seabiscuit: An American Legend,6
48,276813,Purity in Death,6
49,276813,This Year It Will Be Different: And Other Stories,6
31,276786,Chocolate Jesus,6
30,276786,Prague : A Novel,6
28,276786,Timeline,6
12,276748,The Middle Stories,6
4,276737,The Mummies of Urumchi,6
2,276729,Decision in Normandy,6
35,276796,Tage der Unschuld.,5
36,276798,Lying Awake,5
17,276762,Goodbye to the Buttermilk Sky,5
15,276755,The Witchfinder (Amos Walker Mystery Series),5
0,276726,Classical Mythology,5
21,276768,New Vegetarian: Bold and Beautiful Recipes for Every Occasion,4
20,276762,Our Dumb Century: The Onion Presents 100 Years of Headlines from America's Finest News Source,4
1,276729,Clara Callan,3
19,276762,Beloved (Plume Contemporary Fiction),3

In [8]:
books.groupby(['ID','Book.Title']).count()

                                                                            Book.Rating
ID     Book.Title
8      Ancient Celtic Romances                                                        1
       Keepers of the Earth Teachers Guide                                            1
       The Art Of Celtia                                                              1
       The Celts Activity Book                                                        1
       The Western way: A practical guide to the Western mystery tradition            1
...                                                                                 ...
278854 A corrente de Trewis Scott                                                     1
       As valkÃ­rias                                                                  1
       Blast From the Past                                                            1
       Celtic Mythology (Library of the World's Myths and Legends)                    1
       La crÃ³nica del PerÃº (CrÃ³nicas de AmÃ©rica)                                  1

[9993 rows x 1 columns]

__Number of Unique elements__

In [9]:
len(books.ID.unique())

2182

In [10]:
len(books['Book.Title'].unique())

9659

In [11]:
len(books['Book.Rating'].unique())

10

In [12]:
#books['description']=books.groupby('ID')['Book.Title'].transform( lambda x : ' '.join(x))
#books.head()

In [13]:
books=books.drop_duplicates(subset=['ID','Book.Title'])
books.head()

,ID,Book.Title,Book.Rating
0,276726,Classical Mythology,5
1,276729,Clara Callan,3
2,276729,Decision in Normandy,6
3,276736,Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It,8
4,276737,The Mummies of Urumchi,6

In [14]:
books.reset_index(inplace=True,drop=True)
books.head()

,ID,Book.Title,Book.Rating
0,276726,Classical Mythology,5
1,276729,Clara Callan,3
2,276729,Decision in Normandy,6
3,276736,Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It,8
4,276737,The Mummies of Urumchi,6

__Creating Pivot Table of our data__

In [16]:
new_book=books.pivot_table(index='ID',columns='Book.Title',values='Book.Rating').reset_index(drop=True)

In [18]:
new_book.index = books.ID.unique()

In [19]:
new_book

Book.Title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
276726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
162121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
new_book.fillna(0, inplace=True)

In [22]:
#Calculating Cosine Similarity between Users
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [23]:
Book = 1 - pairwise_distances(new_book.values,metric='cosine')

In [24]:
Book

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [25]:
#Store the results in a dataframe
user_Title = pd.DataFrame(Book)
user_Title

,0,1,2,3,4,5,6,7,8,9,...,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [26]:
#Set the index and column names to user ids 
user_Title.index = books.ID.unique()
user_Title.columns = books.ID.unique()
user_Title

,276726,276729,276736,276737,276744,276745,276747,276748,276751,276754,...,162085,162091,162092,162095,162103,162107,162109,162113,162121,162129
276726,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276729,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276736,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276737,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276744,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
162109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
162113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
162121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
162129,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [34]:
np.fill_diagonal(Book, 0)
user_Title.iloc[0:5, 0:5]

        276726  276729  276736  276737  276744
276726     0.0     0.0     0.0     0.0     0.0
276729     0.0     0.0     0.0     0.0     0.0
276736     0.0     0.0     0.0     0.0     0.0
276737     0.0     0.0     0.0     0.0     0.0
276744     0.0     0.0     0.0     0.0     0.0

### Most Similar Users

In [52]:
user_Title.idxmax(axis=1)[0:20]

276726    276726
276729    276726
276736    276726
276737    276726
276744    276726
276745    276726
276747    276726
276748    161677
276751    276726
276754    276726
276755    276726
276760    276726
276762    276726
276768    276726
276772      1491
276774    278543
276780    276726
276786    276726
276788    276726
276796    276726
dtype: int64

In [42]:
books[(books['ID']==276736) | (books['ID']==276726)]

,ID,Book.Title,Book.Rating
0,276726,Classical Mythology,5
3,276736,Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It,8

In [53]:
user_1=books[books['ID']==1491]

In [54]:
user_2=books[books['ID']==276726]

In [55]:
user_2['Book.Title']

0    Classical Mythology
Name: Book.Title, dtype: object

In [56]:
user_1['Book.Title']

4105    Fifth business
Name: Book.Title, dtype: object

In [57]:
pd.merge(user_1,user_2,on='Book.Title',how='outer')

     ID_x           Book.Title  Book.Rating_x      ID_y  Book.Rating_y
0  1491.0       Fifth business            7.0       NaN            NaN
1     NaN  Classical Mythology            NaN  276726.0            5.0